* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-family: sans-serif;
    color: #333;
    background-color: #f3e4d7;
  }

  /* height of the container */
  .leaflet-container {
    height: 91vh;
    width: 99%;
  }
